body {
  background-color: #EDF6F9;
}

.App {
  font-size: 20px;
  font-family: 'Roboto';
  font-style: normal;
}

.title {
  width: 100%;
  font-size: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 0.5%;
  text-align: center;
  font-weight: 600;
  color: #006D77;
}

.tiles {
  width: 80%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.row {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.odd {
  background-color: #FFDDD2;
  width: 14%;
  height: 80%;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(130, 130, 131, 1);
  -moz-box-shadow: 0px 0px 17px 0px rgba(130, 130, 131, 1);
  box-shadow: 0px 0px 17px 0px rgba(130, 130, 131, 1);
  cursor: pointer;
}

.even {
  background-color: #83C5BE;
  width: 14%;
  height: 80%;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(98, 98, 100, 1);
  -moz-box-shadow: 0px 0px 17px 0px rgba(98, 98, 100, 1);
  box-shadow: 0px 0px 17px 0px rgba(98, 98, 100, 1);
  cursor: pointer;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extra {
  margin-bottom: 2%;
}

.password {
  width: 30%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFDDD2;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(130, 130, 131, 1);
  -moz-box-shadow: 0px 0px 17px 0px rgba(130, 130, 131, 1);
  box-shadow: 0px 0px 17px 0px rgba(130, 130, 131, 1);
  border-radius: 1em;
  font-size: 28px;
  font-weight: 600;
  margin-top: 3%;
}

.correct {
  display: none;
}

input {
  margin-top: 8%;
  height: 40px;
  border: 1px solid #E29578;
  border-radius: 10px;
  text-indent: 8px;
  font-size: 20px;
}

.goBack {
  width: 40%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #83C5BE;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(98, 98, 100, 1);
  -moz-box-shadow: 0px 0px 17px 0px rgba(98, 98, 100, 1);
  box-shadow: 0px 0px 17px 0px rgba(98, 98, 100, 1);
  border-radius: 1em;
  font-size: 28px;
  font-weight: 600;
  margin-top: 3%;
  cursor: pointer;
}

.submitButton {
  background-color: #E29578;
  color: beige;
  width: 100px;
  height: 45px;
  margin-left: 10px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.alert {
  font-size: 20px;
  margin-top: 1%;
  color: #e63946;
}

.cars {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
}

.car{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

img {
  margin-bottom: 1em;
}

